.outer {

}

body {
	width: 100%;
	background-color: Gray !important;
}

.container {
	margin: 0 auto;
	width: 62.5rem;
	margin-top: 1.5rem;
	padding: 2rem;
	border: 0.20rem solid SaddleBrown;
	border-radius: 0.6rem;
	background-color: OldLace;
}

th, td {
  text-align: center;
  padding: 3px;
  border: 1px solid black;
}

#item input {
  margin: 3px;
  width: 180px;
  display: inline-block;
}

#item button {
  display: inline-block;
}